@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div class="text-center">
        <img src="~/imagenes/bloquear.png" class="img-fluid" width="150" />
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">This account has not access, please try again later.</p>
    </div>
</header>
